extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .tweet-container
             a(href='http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Node.js%20Express%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=GitHubDreamLifter%2CVSTS%20%40Azure%20%40Pipelines')
                img(src='/images/tweetThis.svg')    
        .content-body
            .success-text
                p GitHub + Azure rocks! 
            .description 
                p App service has been successfully setup
            .description
                p Your Node.js Express app is up and running on Azure!
